html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  box-sizing: border-box;
  text-align: center;
  margin: 0 auto;
  /* background-color:#0288D1; */
  color: #FFFFFF;
}

nav.nav {
  background-color: #03A9F4;
  width: 100%;
  max-width: 700px;
  padding: .7em;
  text-align: center;
  display: inline-block;
  border-radius: 5px;  
}

.nav-link {
  color:#FFFFFF;
  padding: 1em;
}


header {

  padding: 1em 1em;
  margin: 1em 0;
  display: inline-block;
  position: relative;
  background-color: #B3E5FC;
  color:  #212121;
  width: 75%;
  max-width: 600px;
  border-radius: 5px;
}

h2, h3 {
  margin: 0;
  padding: 2em;
}

h4 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  background-color: #FFC107;
}

footer {
  background-color: #0288D1;
  height: 400px;
}
/*  */
.home-page-button, .search-button, .submit-buttons, .edit-buttons, .delete-buttons {
  background-color:#FFC107;
  display: inline-block;
  width: 40%;
  margin: .4em 1em;
  box-sizing: border-box;
  padding: 5px; 
  color: #212121;
  position: relative;
  border-radius: 3px;
}

.edit-buttons, .delete-buttons {
  width: 25%;
}

button {
  opacity: 0;
}

.home-buttons{
  background-color:#03A9F4;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 1em auto;
}

#home-page-form {
  position: relative;
  margin: 0 auto;
  background-color: #03A9F4;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* position: absolute; */
}

li {
  margin-top: 1em;
}

form {
  margin: 200px, auto;
  position: relative;
  max-width: 700px;
  border-radius: 5px;
}


main {
  /* position: absolute; */
  /* text-align: center; */
  top: 8em;
  background-color: #0288D1;
}


div.nav-bar {
  background-color: #0288D1;
}
nav {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FFC107;
}

fieldset {
  padding: 1em;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: none;
}

.search-result {
  display: block;
}

.user-input, .title-input {
  position: relative;
  left: 10px;
}

.artist-input, .notes-input {
  position: relative;
  left: 3px;
}

.read-lyrics {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  white-space: pre-wrap;
  text-align: left;
}

/* .user-input {
  background-color: #FFFFFF;
  opacity: 1;
} */