body {
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  background-color:#0288D1;
  color: #212121;
}

nav.nav {
  background-color: #03A9F4;
  width: 100%;
  padding: .7em;  
}

.nav-link {
  color:#FFFFFF;
  padding: 1em;
}


header {

  padding: 1em 1em;
  margin: 1em 0;
  display: inline-block;
  position: relative;
  background-color:#B3E5FC;
  width: 100%;
}
/*  */
.home-page-button {
  background-color:#FFC107;
  display: inline-block;
  width: 47%;
  margin: .4em;
  box-sizing: border-box;
  padding: 5px; 
  color: #212121;
  position: relative;

}

button {
  opacity: 0;
}

.home-buttons{
  background-color:#03A9F4;
  text-align: center;
  position: absolute;
  height: 2.8em;
  width: 100%;
  border-top:
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* position: absolute; */
}

li {
  margin-top: 1em;
}

form {
  margin: 200px, auto;
  position: relative;
}


main {
  /* position: absolute; */
  /* text-align: center; */
  top: 8em;
}

nav {
  margin: 0;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FFC107;
}

fieldset {
  padding: 1em;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.search-result {
  display: block;
}

.user-input, .title-input {
  position: relative;
  left: 10px;
}

.artist-input, .notes-input {
  position: relative;
  left: 3px;
}

.read-lyrics {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}